body {
  background-color: rgb(207, 117, 173);
}

/* -- Navigation -- */

nav ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  overflow: hidden;
}

nav li {
  background: rgb(51, 51, 51);
  float: left;
  padding: 10px 0px 10px 0px;
}

nav li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  font-family: "open sans";
}

li a:hover {
  background-color: rgb(160, 160, 160);
}

hr.line {
  border: 1px solid rgb(0, 0, 0);
}

h1::first-letter {
  color: rgb(255, 0, 0);
}

p::after {
  content: url();
}

h1,
h2,
h3 {
  font-family: anton;
  letter-spacing: 1px;
}

p {
  font-family: "open sans";
  text-align: justify;
  width: 500px;
}
